<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{>adminheader}}
<section>
    <div>
        {{>adminsidebar}}
    </div>
    <section class=" admin-section d-flex gap-5">

        <div class="vw-100 main px-5 pt-5 content-admin" style="margin-left: 220px;  margin-top: 50px; ">

            {{#if coupons}}
            <div class="container table-responsive py-5">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark bg-dark">
                        <tr class="text-white text-center">

                            <th scope="col">Coupon Code</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Expiry-Date</th>
                            <th scope="col">Max-Discountamonut</th>
                            <th scope="col">Min-Orderamonut</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each coupons}}
                        <tr class="text-center fs-5">

                            <td>{{this.couponCode}}</td>
                            <td>{{this.disCount}}</td>
                            <td>{{this.expiryDate}}</td>
                            <td>{{this.maxDiscountAmount}}</td>
                            <td>{{this.minOrderAmount}}</td>
                            <td>
                                <div class="d-flex">
                                    <div> <a href="/admin/editcoupon/{{this._id}}" class="btn"><i
                                                class="fa fa-edit text-primary" style="font-size: 25px;">
                                                <p class="text-dark "></p>
                                            </i></a></div>
                                    <div><a onclick="deleteCoupon('{{this._id}}')" class="btn"><i
                                                class="fa fa-ban text-danger" style="font-size: 25px;"
                                                aria-hidden="true"></i></a></div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}



            <div class="row container mb-5">
                <div class="col-md-7 col-12 p-3 m-auto" style="background-color: #193d5652;">
                    <form id="addcoupon" class="p-5">
                        <h2 class="text-center mb-3">Add Coupon</h2>

                        <div class="form-group mb-3">
                            <label for="code">Coupon Code:</label>
                            <input type="text" id="code" name="code" class="form-control"
                                onblur="javascript:value=value.replace(/\s/g,'');" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="discount">Discount (%) :</label>
                            <input type="number" id="discount" name="discount" class="form-control"
                                onblur="javascript:value=value.replace(/\s/g,'');" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="expiration-date">Expiry Date:</label>
                            <input type="date" id="expiration-date" name="expiryDate" class="form-control"
                                onblur="javascript:value=value.replace(/\s/g,'');" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="max-amount">Max Discount Amount:</label>
                            <input type="number" id="max-amount" name="maxDiscount" class="form-control"
                                onblur="javascript:value=value.replace(/\s/g,'');" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="min-amount">Min Order Amount:</label>
                            <input type="number" id="min-amount" name="minAmount" class="form-control"
                                onblur="javascript:value=value.replace(/\s/g,'');" required>
                        </div>

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-outline-dark b-radius">Add Coupon</button>
                        </div>
                    </form>


                </div>
            </div>


        </div>

    </section>
    <section>

    </section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        $("#addcoupon").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: "/admin/addcoupon",
                method: "post",
                data: $('#addcoupon').serialize(),
                success: (response) => {
                    if (response.status) {
                        swal("Coupon added!").then(() => {
                            location.reload()
                        })
                    } else if(response.alreadyexist){
                       swal("Coupon code already existed!!!")
                    }
                }
            })
        })
    </script>

    <script>
        function deleteCoupon(couponId) {

            swal({
                title: "Are you sure?",
                text: "This coupon will be deleted!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/admin/deletecoupon",
                            method: "post",
                            data: {
                                couponId: couponId
                            },
                            success: (response) => {

                                if (response.status) {
                                    swal("Coupon deleted!").then(() => {
                                        location.reload()
                                    })
                                }
                            }
                        })
                    } else {

                    }
                }).then(() => {
                })
        }



    </script>