{{>adminheader}}
<section>
  <div>
    {{>adminsidebar}}
  </div>
  <div>
    <section style="margin-left: 220px;  margin-top: 55px;">
      <div class="container">
        <div class="d-flex justify-content-end my-3">

   
        </div>
        <div class="container ">
          <table class="table table-hover table-bordered">
            <thead class="text-white bg-dark">
              <tr>
                <th scope="col">User id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Manage user</th>
              </tr>
            </thead>
            {{#each usersData}}
            <tbody class="bg-white">
              {{#if this.blocked}}
              <tr class="bg-danger">
                {{else}}
              <tr>
                {{/if}}
                <th>{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
             
                <td>{{this.address.[0].phone}}</td>
                <td>
                  {{#if this.blocked}}
                  <a href="/admin/unblockuser/{{this._id}}" class="btn btn-success">Unblock</a>

                  {{else}}
                  <a href="/admin/blockuser/{{this._id}}" class="btn btn-danger">Block</a>
                  {{/if}}
                </td>
              </tr>
            </tbody>
            {{/each}}
          </table>
        </div>
      </div>
    </section>
  </div>
</section>