<script>"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"</script>


{{>adminheader}}

<section>
    <div>
        {{>adminsidebar}}
    </div>

    <div class=" main px-5 pt-5 content-admin" style="margin-left: 200px;  ">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <body>

            <section class=" admin-section body_dashboard d-flex gap-5">

                <div class="vw-100 main px-5 pt-5  content-admin justify-content-center">
                    <h1>Dashboard</h1>
                    <div class="row  mt-2 g-4 mb-5">

                        <div class="col-md-3 ">
                            <div class="card p-3 box-shadow text-decoration-none  count_div bg-success">
                                <div class="d-md-flex justify-content-between align-items-center p-2 overflow">
                                    <div class="flex-column lh-1 ">
                                        <p class="text-white">Active Users</p>
                                        <span class="text-white fs-3"> {{userCount}}</span>
                                    </div>
                                    <div class="flex-column lh-1 ">
                                        <span class="material-icons-sharp text-white">
                                            group
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="card p-3 box-shadow text-decoration-none count_div"
                                style="background-color: #4e4376;">
                                <div class="d-md-flex justify-content-between align-items-center p-2 overflow">
                                    <div class="flex-column lh-1  ">
                                        <p class="text-white">Total Products</p>
                                        <span class="text-white fs-3">{{productCount}}</span>
                                    </div>
                                    <div class="flex-column lh-1  ">
                                        <span class="material-icons-sharp text-white">
                                            checkroom
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="card p-3 box-shadow text-decoration-none  count_div"
                                style="background-color: #46aef7;">
                                <div class="d-md-flex justify-content-between align-items-center p-2 overflow">
                                    <div class="flex-column lh-1  ">
                                        <p class="text-white">Orders</p>
                                        <span class="text-white fs-3"> {{orderCount}}</span>
                                    </div>
                                    <div class="flex-column lh-1  ">
                                        <span class="material-icons-sharp text-white">
                                            inventory
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="card p-3 box-shadow text-decoration-none count_div"
                                style="background-color: #ff9a38;">
                                <div class="d-md-flex justify-content-between align-items-center p-2 overflow">
                                    <div class="flex-column lh-1 ">
                                        <p class="text-white">Total Revenue</p>
                                        {{#each total}}
                                        {{#if @first}}
                                        <span class="text-white fs-3"> ₹ {{total}}</span>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="flex-column lh-1 ">
                                        <span class="material-icons-sharp text-white">
                                            savings
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row border mb-2 d-flex justify-content-center mb-5 p-2">
                <div class="mb-5 container p-5 col-md-8 ">
                    <div>
                        <h1 class="text-center">Revenue Chart</h1>
                    </div>
                    <canvas id="myChart"></canvas>

                </div>
                <div class="d-flex justify-content-center ">
                    <div class="border p-3 col-md-6 " style="background-color: #a5c9e2;">
                        <h5 class="card-title text-center">Sales Report</h5>
                        <p style="font-size: 1rem;display:none" id="check-date" class="text-danger">
                            Check the date
                        </p>
                        <form id="salesreport" method="post" action="">
                            <div class="mb-4 mt-3">
                                <label for="from_date">From</label>
                                <input type="date" class="form-control" name="fromdate" id="from_date" />
                                <label for="to_date">To</label>
                                <input type="date" class="form-control" name="todate" id="to_date" />
                            </div>
                            <div class="d-flex justify-content-center"> <button class="btn btn-success" type="submit"
                                    id="generateReport" style="display:block"><i
                                        class="text-muted material-icons md-post_add"></i>Generate Sales Report</button>
                            </div>
                            <a href="/salesreport/report.pdf" class="btn btn-primary" style="display:none;"
                                id="downloadReport">
                                <i class="text-muted material-icons md-post_add"></i>Download Report</a>
                        </form>
                    </div>
                </div>
            </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart').getContext('2d')

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Earnings',
                data: [{{ monthdetails }}],
            backgroundColor: [
                '#d473a8',
                '#ffdd62',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
        options: {

        scales: {
            y: {
                beginAtZero: true
            }
        }
    }, plugins: {
        title: {
            display: true,
            text: 'Monthly Earnings',
            font: {
                size: 18,
                weight: 'bold'
            }
        }
    }
    
            });
</script>

<script>
    $('#salesreport').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: "/admin/sales-report",
            method: 'post',
            data: $('#salesreport').serialize(),
            success: ((response) => {
                if (response.status) {
                    document.getElementById('generateReport').style.display = "none"
                    document.getElementById('downloadReport').style.display = "block"
                } else {
                    document.getElementById('check-date').style.display = "block"
                }
            })
        })
    })
</script>