<link rel="stylesheet" href="/stylesheets/adminorderstatus.css">
{{>adminheader}}

<body>
    {{>adminsidebar}}
    
    <section id="head" style="margin-left: 230px;  margin-top: 50px; padding: 10px;">
        <div class="d-flex">
            <div class="col-md-7 mt-5">
                <div class="mb-3">
                    <h2><u> User Details </u></h2>
                    <section class="checkout-form">

                       
                        <div class="border p-2 mb-2 address">
                            <p>{{../orderdetails.user.address.name}}</p>
                        </div>
               



                       

                    </section>
                </div>
            </div>
            <div class="col-md-5">

                <body>
                    <section id="head">
                        <div class="text-center mb-3">
                            <h2> <u> Orders </u></h2>
                        </div>
                        {{#each orderdetails}}
                        <div class="container">

                            <div class="row">
                                {{#each orderedproducts.imageurl}}
                                {{#if @first}}
                                <div class="col-md-3 d-flex justify-content-center align-items-center">
                                    <img class="head-img" src="/images/categoryimage/{{filename}}" alt="" /
                                        style="max-width: 95%; border-radius: 50%;">
                                </div>
                                {{/if}}
                                {{/each}}

                                <div class="col-md-9 head-text">
                                    <h6>{{orderedproducts.productname}}</h6>
                                    <p> Quantity:{{Productquantity}}</p>
                                    <p> MRP:{{productprice}}</p>
                                    <p class="text-danger"> Total:{{producttotal}}</p>


                                    {{!-- <p>Click edit button to change this text. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Sapien.</p> --}}

                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </section>
                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
                    <script src="https://kit.fontawesome.com/e05090259d.js" crossorigin="anonymous"></script>
                </body>
            </div>
        </div>
    </section>
</body>

</html>