<link rel="stylesheet" href="/stylesheets/userprofile.css">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
<header style="width: 100%; ">
    <nav class="navbar navbar-expand-lg navbar-light header ">
        <div class="container-fluid fs-4 d-flex" style=" padding-right: var(--x-gutter-x, 0.5rem);">
            <div class=".img-fluid me-3">
                <a href="/"> <img class="rounded-pill" src="/images/logoimage/download.png" alt="" height="80px"
                        width="80px"> </a>
            </div>
            <div class="d-none d-sm-flex hide-on-tablet">
               <i> Shoe Rack </i>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                {{#if user}}
                <div class="pt-2 me-3">
                    {{!-- <a href="/cart"><span class="material-icons-sharp text-white ">shopping_cart</span></a> --}}
                    <a href="/wishlist" class="position-relative">
                      <span class="material-icons-sharp text-white">favorite</span>


                    </a>
                </div>
                <div class="pt-2 me-2">
                
                    <a href="/cart/" class="position-relative">
                        <span class="material-icons-sharp text-white">shopping_cart
                        </span>
                        <span class="position-absolute   translate-middle badge rounded-pill bg-danger text-white p-1">
                            {{#if usercart}}
                            <small id="cart-count"> {{usercart}} </small>
                            {{else}}
                            <small id="cart-count">0</small>
                            {{/if}}
                        </span>

                    </a>
                </div>

                {{/if}}
                <div class="dropdown pe-3">
                    <button class="btn dropdown-toggle text-white " type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}

                        <span class="material-icons-sharp p-2  text-white">person</span>

                        {{/if}}

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {{#if user}}
                        <li class="nav-item mb-2 ms-2">
                            <a class="nav-link" href="/account">
                                <i class="bi bi-person-circle"></i>My Account
                            </a>
                        </li>
                        <li class="nav-item mb-2 ms-2"><a class="nav-link" href="/logout"><i
                                    class="fa fa-sign-out"></i>Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                        {{/if}}


                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>


<!-- 
Front-End Design
Ui Design
Website: www.cupcom.com.br
-->
<link rel="stylesheet" href="stylesheets/headerstyle.css">