<link rel="stylesheet" href="/stylesheets/orderlist .css">

<body>
    {{>userheader}}

    <div class="d-flex">
        {{>usersidebar}}
            {{#if orderdetails}}
        <div class="container my-3 ">
            <table align="center" cellspacing="0" cellpadding="6" width="95%"
                style="border:0;color:#000000;line-height:150%;text-align:left;font:300 14px/30px &#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;"
                border=".5px">
                <thead>
                    <tr style="background:#efefef">
                        <th scope="col" width="30%" style="text-align:center;border:1px solid #eee">Product</th>
                        <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">images</th>
                        <th scope="col" width="15%" style="text-align:center;border:1px solid #eee">Quantity</th>
                        <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">price</th>
                        <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">Ordered At</th>
                        <th scope="col" width="20%" style="text-align:center;border:1px solid #eee"></th>
                    </tr>
                </thead>
                <tbody class="orderdetails">

                    {{#each orderdetails}}
                    <tr width="100%" >
                        <td width="30%"
                            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:0;border-top:0;word-wrap:break-word">
                            {{orderedproducts.productname}}
                        </td>
                        <td width="15%"
                            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:0;border-top:0">

                            {{#each orderedproducts.imageurl}}
                            {{#if @first}}
                            <img style="width: 100px;" src="/images/categoryimage/{{filename}}">
                            {{/if}}
                            {{/each}}
                        </td>
                        <td width="20%"
                            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
                            {{this.Productquantity}}
                            <span></span>
                        </td>
                        <td width="20%"
                            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
                            <span>Rs.{{this.producttotal}}</span>
                        </td>
                        <td width="20%"
                            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
                            <span>{{this.OrdercreatedAt}}</span>
                        </td>
                        <td width="20%" class="p-5"
                            style="text-align:ricenterght;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
                            <a href="/singleview/{{this._id}}"><span>more...</span></a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>


            </table>
            <br>
            <br>

            <br>
            
        </div>

        {{else}}

        <div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">

    <div class="col-md-12">

      <div class="card">
      
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="/images/categoryimage/orderempty.png" width="130" height="130" class="img-fluid mb-4 mr-3">
            <h3><strong>There are no orders yet.</strong></h3>
            
            <a href="/" class="btn btn-primary cart-btn-transform m-5" data-abc="true">Shop Now</a>


          </div>
        </div>
      </div>


    </div>

  </div>

</div>


        {{/if}}
    </div>
</body>