<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
<link rel="stylesheet" href="/stylesheets/cartstyle.css">
<link rel="stylesheet" href="stylesheets/headerstyle.css">
{{>userheader}}



<div class="product-container">
  {{#each productdata}}
  <a href="/productview/{{this._id}}" class="text-decoration-none text-dark">
    <div class="product-card p-2 mt-5">
      <img src="/images/categoryimage/{{this.image}}" alt="Product Name" class="product-image">

      <h3 class="product-name">{{this.name}}</h3>

      <div class="product-price">₹ {{this.price}}</div>
  </a>

  <div class="d-flex align-content-center justify-content-center">



    <a href="/productview/{{this._id}}">
      <div style="position: absolute;top: 10px;right: 10px;"> <span
          class="material-icons-sharp text-dark">fullscreen</span> </div>
    </a>

  </div>
</div>

{{/each}}
</div>

{{>userfooter}}


<script>
  function categoryFilter(category) {
    alert(category)
    $.ajax({
      url: "/categoryfilter",
      method: "post",
      data: {
        categoryname: category
      },
      success: (response) => {
        alert(response)

      }

    })
  }
</script>