<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
<link rel="stylesheet" href="/stylesheets/cartstyle.css">
<link rel="stylesheet" href="stylesheets/headerstyle.css">
{{>userheader}}


{{#if productdata}}
<div class="product-container">
  {{#each productdata}}
  <a href="/productview/{{this._id}}" class="text-decoration-none text-dark">
    <div class="product-card p-2 mt-5">
      <img src="/images/categoryimage/{{this.image}}" alt="Product Name" class="product-image">

      <h3 class="product-name">{{this.name}}</h3>

      <div class="product-price">₹ {{this.price}}</div>
  </a>

  <div class="d-flex align-content-center justify-content-center">



    <a href="/productview/{{this._id}}">
      <div style="position: absolute;top: 10px;right: 10px;"> <span
          class="material-icons-sharp text-dark">fullscreen</span> </div>
    </a>

  </div>

    {{#if this.status}}
  {{else}}
  <p class="text-danger"> * This Product is currently not availble</p>
  {{/if}}
</div>

{{/each}}
</div>
{{else}}
<div class="container-fluid  mt-5">
  <div class="row">

    <div class="col-md-12">

      <div class="card">
      
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="/images/categoryimage/productempty.jpg" width="300" height="300" class="img-fluid mb-4 mr-3">
            <h3><strong>Products will arrive soon</strong></h3>
            {{!-- <h4>Add something to make me happy :)</h4> --}}
            <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>


          </div>
        </div>
      </div>


    </div>

  </div>

</div>
{{/if}}
{{>userfooter}}


<script>
  function categoryFilter(category) {
    alert(category)
    $.ajax({
      url: "/categoryfilter",
      method: "post",
      data: {
        categoryname: category
      },
      success: (response) => {
        alert(response)

      }

    })
  }
</script>