<link rel="stylesheet" href="/stylesheets/userhomestyle.css">

<header style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light header ">
        <div class="container-fluid fs-4 d-flex">
            <div class=".img-fluid me-3">
                <img class="rounded-pill" src="/images/logoimage/download.png" alt="" height="80px" width="80px">
            </div>


            <div>
                <form class="d-flex">
                    <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search"
                        style="width: 500px;">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>





            <div class="d-flex justify-content-center align-items-center">
                <div class="pt-2">
                <a href="/cart"><span class="material-icons-sharp text-white ">shopping_cart</span></a>
    </div>
                <div class="dropdown pe-3">
                    <button class="btn dropdown-toggle text-white " type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}

                      <span class="material-icons-sharp p-2 text-dark text-white">person</span>

                        {{/if}}

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {{#if user}}
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        {{/if}}


                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>



{{!-- <div class="container mt-4">
    <h1>New Arrivals</h1>
    <div class="row">
        {{#each productdata}}
        <div class="col-lg-3 col-sm-6 mb-4 p-3">
            <div
                class=" d-flex flex-column align-items-center justify-content-center rounded product-item p-3  border bg-light">
                <div class="product rounded">
                    <img src="/images/categoryimage/{{this.image}}" class="card-img-top" alt="">
                </div>
                <div class="title pt-4 pb-1">{{this.name}}</div>

                <div class="price">₹ {{this.price}}</div>
                <div class="d-flex align-content-center justify-content-center">
                    <a href="/addtocart/{{this._id}}" class="btn btn-primary">Add to card</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}

<div class="product-container">

{{#each productdata}}
    <div class="product-card p-2">
        <img src="/images/categoryimage/{{this.image}}"
            alt="Product Name" class="product-image">
        <h3 class="product-name">{{this.name}}</h3>
       
        <div class="product-price">₹ {{this.price}}</div>
        {{!-- <button class="add-to-cart-button">Add to Cart</button> --}}
         <div class="d-flex align-content-center justify-content-center">
                    <a href="/addtocart/{{this._id}}" class="btn btn-primary">Add to cart</a>
                </div>
    </div>
 {{/each}}
</div>
