<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
<link rel="stylesheet" href="/stylesheets/cartstyle.css">

{{>userheader}}




<div class="product-container">
    {{#each productdata}}
    <a href="/productview/{{this._id}}" class="text-decoration-none text-dark">
        <div class="product-card p-2">
            <img src="/images/categoryimage/{{this.image}}" alt="Product Name" class="product-image">

            <h3 class="product-name">{{this.name}}</h3>

           <div class="product-price">₹ {{this.price}}</div>
    </a>
    {{!-- <button class="add-to-cart-button">Add to Cart</button> --}}
    <div class="d-flex align-content-center justify-content-center">
        {{!-- <a href="/addtocart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
        <button onclick="addTocart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
        <div class="ms-4 pos"><i class='fa fa-heart' style="font-size: 20px; "></i></div>
    </div>
</div>

{{/each}}
</div>

{{>userfooter}}




<script>
    function addTocart(proId) {

        $.ajax({
            url: "/addtocart/" + proId,
            method: "get",
            success: (response) => {

                if (response.status) {
                    let count = document.getElementById("cart-count").innerHTML;
                    count = parseInt(count) + 1
                    document.getElementById("cart-count").innerHTML = count
                    swal("product added to cart!", "success!", "success");

                }
            }

        })
    }
</script>