<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
{{>userheader}}
<div class="product-container">

{{#each productdata}}
    <div class="product-card p-2">
        <img src="/images/categoryimage/{{this.image}}"
            alt="Product Name" class="product-image">
        <h3 class="product-name">{{this.name}}</h3>
       
        <div class="product-price">₹ {{this.price}}</div>
        {{!-- <button class="add-to-cart-button">Add to Cart</button> --}}
         <div class="d-flex align-content-center justify-content-center">
                    {{!-- <a href="/addtocart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
                    <button onclick="addTocart('{{this._id}}')" class="btn btn-primary"  >Add to cart</button>
                </div>
    </div>
 {{/each}}
</div>

<script>
function addTocart(proId) {
    console.log(proId,"????")
    $.ajax({
        url: "/addtocart/" + proId,
        method: "get",
        success: (response) => {
           
            if(response.status){
                console.log(response)
                let count=document.getElementById("cart-count").innerHTML;
                count=parseInt(count)+1
                document.getElementById("cart-count").innerHTML=count
               
            }
        }

    })
}
</script>