<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
<link rel="stylesheet" href="/stylesheets/cartstyle.css">
<link rel="stylesheet" href="stylesheets/headerstyle.css">
{{>userheader}}

  <div class="nav-container">
    <nav class="all-category-nav">
      <label class="open-menu-all" for="open-menu-all">
        <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
        <span class="all-navigator"><i class="fas fa-bars"></i> <span>All category</span> <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-up"></i>
        </span>

        <ul class="all-category-list">

          
          <li class="all-category-list-item"><a href="" class="all-category-list-link">Formals <i class="fas fa-angle-right"></i></a></li>
          <li class="all-category-list-item"><a href="" class="all-category-list-link">Sports<i class="fas fa-angle-right"></i></a></li>
           <li class="all-category-list-item"><a href="" class="all-category-list-link">Casual<i class="fas fa-angle-right"></i></a></li> 
 

        </ul>
      </label>

    </nav>
    <nav class="featured-category">
      <ul class="nav-row">
        <li class="nav-row-list"><a href="/sortbycausal" class="nav-row-list-link">Casual</a></li>
        <li class="nav-row-list"><a href="/sortbysports" class="nav-row-list-link">Sports</a></li>
        <li class="nav-row-list"><a href="/sortbyformal" class="nav-row-list-link">Formal</a></li>
    
      </ul>
    </nav>
  </div>








<div class="product-container">
    {{#each productdata}}
    <a href="/productview/{{this._id}}" class="text-decoration-none text-dark">
        <div class="product-card p-2 mt-5">
            <img src="/images/categoryimage/{{this.image}}" alt="Product Name" class="product-image">

            <h3 class="product-name">{{this.name}}</h3>

           <div class="product-price">₹ {{this.price}}</div>
    </a>
    {{!-- <button class="add-to-cart-button">Add to Cart</button> --}}
    <div class="d-flex align-content-center justify-content-center">
        {{!-- <a href="/addtocart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
        <button onclick="addTocart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
        {{!-- <div class="ms-4 pos"><i class='fa fa-heart' style="font-size: 20px; "></i></div> --}}
    </div>
</div>

{{/each}}
</div>

{{>userfooter}}




<script>
    function addTocart(proId) {

        $.ajax({
            url: "/addtocart/" + proId,
            method: "get",
            success: (response) => {
                console.log(response)
                if (response.status) {
                    let count = document.getElementById("cart-count").innerHTML;
                    count = parseInt(count) + 1
                    document.getElementById("cart-count").innerHTML = count
                    swal("product added to cart!", "success!", "success");

                }else if(response.alredyincart){
                      swal("product added to cart!", "success!", "success");
                }
                
                else {
                    location.href="/login"
                }
            }

        })
    }
</script>