<link rel="stylesheet" href="/stylesheets/userhomestyle.css">
<link rel="stylesheet" href="/stylesheets/cartstyle.css">
<link rel="stylesheet" href="stylesheets/headerstyle.css">
{{>userheader}}

<div class="nav-container">
  <nav class="all-category-nav">
    <label class="open-menu-all" for="open-menu-all">
      <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
      <span class="all-navigator"><i class="fas fa-bars"></i> <span>All category</span> <i
          class="fas fa-angle-down"></i>
        <i class="fas fa-angle-up"></i>
      </span>

      <ul class="all-category-list">


        
        <li class="all-category-list-item"> <button class="dropdown-item btn my-2" >
          Formals<i class="fas fa-angle-right"></i></button></li>
        <li class="all-category-list-item"> <button class="dropdown-item btn my-2" >
          Casual<i class="fas fa-angle-right"></i></button></li>
        <li class="all-category-list-item"> <button class="dropdown-item btn my-2" >
          Sports<i class="fas fa-angle-right"></i></button></li>
     


      </ul>
    </label>

  </nav>
  <nav class="featured-category">
    <ul class="nav-row">
      <li class="nav-row-list"><a onclick="categoryFilter('Casuals')" class="nav-row-list-link">Casual</a></li>
      <li class="nav-row-list"><a  onclick="categoryFilter('Sports')"  class="nav-row-list-link">Sports</a></li>
      <li class="nav-row-list"><a  onclick="categoryFilter('Formal')"  class="nav-row-list-link">Formal</a></li>

    </ul>
  </nav>
</div>








<div class="product-container">
  {{#each productdata}}
  <a href="/productview/{{this._id}}" class="text-decoration-none text-dark">
    <div class="product-card p-2 mt-5">
      <img src="/images/categoryimage/{{this.image}}" alt="Product Name" class="product-image">

      <h3 class="product-name">{{this.name}}</h3>

      <div class="product-price">₹ {{this.price}}</div>
  </a>
  
  <div class="d-flex align-content-center justify-content-center">
    
   

  <a href="/productview/{{this._id}}"><div style="position: absolute;top: 10px;right: 10px;"> <span class="material-icons-sharp text-dark">fullscreen</span> </div></a>

  </div>
</div>

{{/each}}
</div>

{{>userfooter}}


<script>
  function categoryFilter(category){
    alert(category)
    $.ajax({
      url:"/categoryfilter",
      method:"post",
      data:{
        categoryname:category
      },
      success:(response)=>{
        alert(response)
        
      }

    })
  }
</script>

