<link rel="stylesheet" href="/stylesheets/productview.css">


{{>userheader}}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-md-6 col-12" style="background-color: #e1e1e1;" >
                        <div class="images p-3">
                            {{#each productdetails.imageurl}}
                            {{#if @first}}
                            <div class="text-center p-4"> <img id="main-image" src="/images/categoryimage/{{filename}}"
                                    width="250" height="250" /> </div>
                            {{/if}}
                            {{/each}}
                            <div class="d-flex justify-content-center">
                                {{#each productdetails.imageurl}}
                                <div class="thumbnail text-center m-1"> <img onclick="change_image(this)"
                                        src="/images/categoryimage/{{filename}}" width="70" height="70"> </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  p-0">
                        <div class="product p-4 h-100">
                            <div class="d-flex justify-content-between align-items-center">
                                {{!-- <div class="d-flex align-items-center"> <i class="fa fa-curve-arrow-left"></i> <a
                                        href="/"><span class="ml-1">Home</span> </div> </a> --}}
                            </div>
                            <div class="mt-4 mb-3"> 
                                <h5 class="text-uppercase text-white">{{productdetails.productname}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">₹{{productdetails.productSRP}}</span>
                                    <div class="ms-2"> <small class="dis-price">₹{{productdetails.productMRP}}</small></div>
                                </div>
                            </div>
                            <p class="about">{{productdetails.productdescription}}</p>
                            {{!-- <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio"
                                        name="size" value="S" checked> <span>S</span> </label> <label class="radio">
                                    <input type="radio" name="size" value="M"> <span>M</span> </label> <label
                                    class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label>
                                <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="XXL">
                                    <span>XXL</span> </label>
                            </div> --}}
                            <div class="d-flex justify-content-evenly">
                            <div class="cart mt-4 align-items-center"> 
                                <button onclick="addTocart('{{productdetails._id}}')" class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button>
                                 {{!-- <i
                                    class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> --}}
                            </div>
                            <div class="cart mt-4 align-items-center ms-2"> 
                                <button class="btn btn-danger text-uppercase mr-2 px-4" onclick="addtoWishlist('{{productdetails._id}}')">Add to Wishlist</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>userfooter}}


<script src="/javascripts/productviewpage.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script>
    $("#main-image").elevateZoom();
</script>


<script>
    function addTocart(proId) {

        $.ajax({
            url: "/addtocart/" + proId,
            method: "get",
            success: (response) => {

                if (response.status) {
                    let count = document.getElementById("cart-count").innerHTML;
                    count = parseInt(count) + 1
                    document.getElementById("cart-count").innerHTML = count
                    swal("product added to cart!", "success!", "success");

                }
            }

        })
    }
</script>
<script>
    function addtoWishlist(ProductId){
        alert(ProductId)
        $.ajax({
            url:"/addtowishlist",
            method:"post",
            data:{
                ProductId:ProductId
            },
            success:(response)=>{
                alert(response)
            }
        })
    }
</script>