<link rel="stylesheet" href="/stylesheets/cartstyle.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/cartempty.css">
{{>userheader}}

{{#if userproducts}}
<!-- cart items details -->

<div class="small-container cart-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    {{#each userproducts.products}}
    <tr>

      <td>
        <div class="cart-info">
          <img src="/images/categoryimage/{{this.productId.imageurl.[0].filename}}" alt="" />
          <div>
            <p>{{this.productId.productname}}</p>
            <small>Price ₹{{this.productId.productSRP}}</small>
            <br />
            {{!-- <a href="/removecartitem/{{this.productId._id}}">Remove</a> --}}
            <button class="btn text-danger my-2"
              onclick="removeitem('{{../userproducts._id}}','{{this.productId._id}}')"> Remove</button>
          </div>
        </div>
      </td>
      <td>
        <button class="px-2 rounded text-white" style="background-color: #193D56;"
          onclick="changeQuantity('{{../userproducts._id}}','{{this.productId._id}}',-1)">-</button>
        {{!-- <input type="text" class="rounded text-dark text-center" id="{{this.productId._id}}" disabled
          value="{{this.quantity}}" /> --}}
        <span class="rounded text-dark text-center px-3 border" id="{{this.productId._id}}">{{this.quantity}}</span>
        <button class="px-2 rounded text-white" style="background-color: #193D56;"
          onclick="changeQuantity('{{../userproducts._id}}','{{this.productId._id}}',1)">+</button>
      </td>
      <td>₹{{this.productId.productSRP}}</td>
    </tr>
    {{/each}}

  </table>

  <div class="total-price">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>₹3500.00</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>₹15.00</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>₹3515.00</td>
      </tr>
    </table>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and iso mobile phone.</p>
        <div class="app-logo">
          <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
          <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
        </div>
      </div>

      <div class="footer-col-2">
        <img src="/images/logoimage/download.png" alt="" />
        <p>
          Our Purpose Is To Sustainably Make the Pleasure and Benefits of
          Sports Accessible to the Many.
        </p>
      </div>

      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>

      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>YouTube</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">Copyright &copy; 2021 - Shoe Rack</p>
  </div>
</div>
{{else}}

<div class="container-fluid  mt-100">
  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
            <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>


          </div>
        </div>
      </div>


    </div>

  </div>

</div>





{{/if}}
<!-- Footer -->


<script>
  const MenuItems = document.getElementById('MenuItems');
  MenuItems.style.maxHeight = '0px';

  function menutoggle() {
    if (MenuItems.style.maxHeight == '0px') {
      MenuItems.style.maxHeight = '200px';
    } else {
      MenuItems.style.maxHeight = '0px';
    }
  }
</script>

<script>
  function changeQuantity(cartId, proId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity

      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          swal("Product removed from the cart").then(() => {
            location.reload()
          })

        } else {
          document.getElementById(proId).innerHTML = quantity + count
        }
      }
    })
  }

</script>

<script>
  function removeitem(cartId, proId) {
    swal({
      title: "Are you sure?",
      text: "The Product will be deleted from the cart!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            url: '/removecartitem',
            data: {
              cart: cartId,
              product: proId
            },
            method: 'post',
            success: (response) => {
              if (response.removeProduct) {

        location.reload()
              }
            }
          })
        } else {
          swal("Cancelled!");
        }
      }).then(() => {
      })
  }
</script>